# Knowledge Mapper

To create a embedding visualization based on text data from Unit handbook that helps students decide which courses to pursue based on their interests and current enrolled units.

```
Key fields:
1. UNIT_TITLE
2. HANDBOOK_SYNOPSIS
3. UNIT_LEARNING_OUTCOME

Unit meta data:
1. UNIT_CODE
2. ABBREVIATED_UNIT_TITLE
Colour by:
1. STUDY_LEVEL (UG vs. PG)
2. OWNING_FACULTY (faculty who teaches it)
3. OWNING_ORG_UNIT (department who teaches it)

Auxillary questions:
1. What other units should be prohibited to be taken in dual with this unit?
2. What units should I take before this unit? 

Note: PUBLISH_TO_HANDBOOK probably should be used as a first-order filter.
```

### [Embedding Projector](https://projector.tensorflow.org/)

Data format:
```
Load data from your computer
Step 1: Load a TSV file of vectors.
Example of 3 vectors with dimension 4:
0.1\t0.2\t0.5\t0.9
0.2\t0.1\t5.0\t0.2
0.4\t0.1\t7.0\t0.8
Step 2 (optional): Load a TSV file of metadata.
Example of 3 data points and 2 columns.
Note: If there is more than one column, the first row will be parsed as column labels.
Pokémon\tSpecies
Wartortle\tTurtle
Venusaur\tSeed
Charmeleon\tFlame
```

Metadata
```
UNIT_CODE\tUNIT_TITLE\tHANDBOOK_SYNOPSIS\tUNIT_LEARNING_OUTCOME\tSTUDY_LEVEL\tOWNING_FACULTY\tOWNING_ORG_UNIT
```

### Libraries

In [1]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.12.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.3.2)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.46)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.62.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.1.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.6.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)

In [2]:
!pip install sentence-transformers

Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.62.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.4.1)
Requirement already satisfied: huggingface-hub in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.1.2)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.1.96)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.9.0+cu111)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.19.5)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.10.0+cu111)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.22.2.post1)
Requirement already satisfied: tokenizers>=0.10.3 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.10.3)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.12.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (3.2.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.6.0->sentence-transformers) (3.10.0.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2.23.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2019.12.20)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.0.46)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (21.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (4.8.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (6.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.6.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.10)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.1.0)
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence-transformers) (7.1.2)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# general
import json
import numpy as np
import pandas as pd
from pathlib import Path
from sentence_transformers import SentenceTransformer

In [5]:
data_path = Path('/content/drive/MyDrive/knowledge-mapper/data/raw_data/units owned by faculty - one line per unit (as at 18 Feb 2021).xlsx')
path = "/content/drive/MyDrive/knowledge-mapper/data"
df = pd.read_excel(data_path, sheet_name='Sheet1')

In [6]:
df.shape

(5848, 36)

In [7]:
df.columns

Index(['CL_UNIT_ID', 'UNIT_CODE', 'CL_UNIT_VERSION', 'UNIT_TITLE',
       'ABBREVIATED_UNIT_TITLE', 'CREDIT_POINTS', 'UNIT_STATUS',
       'OWNING_FACULTY', 'OWNING_ORG_UNIT', 'HIGHEST_SCA_BAND',
       'IMPLEMENTATION_YR', 'PUBLISH_TO_HANDBOOK', 'STUDY_LEVEL',
       'HIGHEST_SCA_BAND_1', 'UNIT_EFTSL', 'HANDBOOK_SYNOPSIS',
       'WORKLOAD_REQUIREMENTS', 'QUOTA_INFORMATION', 'OTHER_UNIT_COSTS',
       'FIELD_WORK', 'AREA_OF_STUDY_LINKS', 'OFF_CAMPUS_ATTEND_REQUIREMENTS',
       'SPECIAL_NOTE_TO_STUDENTS', 'UNITOFFERING',
       'HANDBOOK_ASSESSMENT_SUMMARY', 'ASSES_ITEMS', 'UNITCOORD', 'CHIEFEXAM',
       'TEACHING_RESPONSIBILITY', 'PREREQUISITE', 'COREQUISITE', 'PROHIBITION',
       'RULES(PREREQ,COREQ,PROH)', 'INFORMATION_RULE', 'LEARNING_OUTCOME_INFO',
       'UNIT_LEARNING_OUTCOME'],
      dtype='object')

In [8]:
df.head()

                         CL_UNIT_ID  ...                              UNIT_LEARNING_OUTCOME
0  554c86a41b5aac10653b206b274bcbf9  ...  ULO1 - demonstrate an understanding of various...
1  1928deab1bd65c504c45bbbbdc4bcb3a  ...  ULO1 - Identify and analyse measurement system...
2  e14cc6a41b5aac10653b206b274bcb3e  ...  ULO1 - identify and analyse measurement system...
3  a128deab1bd65c504c45bbbbdc4bcbb4  ...  ULO1 - Ddemonstrate an understanding of variou...
4  b528deab1bd65c504c45bbbbdc4bcbc7  ...  ULO1 - Describe cost behaviour under different...

[5 rows x 36 columns]

### Unique Identifiers

In [9]:
df.CL_UNIT_ID.nunique(), df.UNIT_CODE.nunique()

(5848, 5848)

In [10]:
key_cols = ["CL_UNIT_ID",
            "UNIT_CODE",
            "UNIT_TITLE",
            "HANDBOOK_SYNOPSIS",
            "UNIT_LEARNING_OUTCOME",
            "STUDY_LEVEL",
            "OWNING_FACULTY",
            "OWNING_ORG_UNIT"
            ]

### Filter by `PUBLISH_TO_HANDBOOK`

In [11]:
df = df.loc[df["PUBLISH_TO_HANDBOOK"] == 'Y', :]

In [12]:
df.shape

(5324, 36)

In [13]:
df.head()

                         CL_UNIT_ID  ...                              UNIT_LEARNING_OUTCOME
0  554c86a41b5aac10653b206b274bcbf9  ...  ULO1 - demonstrate an understanding of various...
2  e14cc6a41b5aac10653b206b274bcb3e  ...  ULO1 - identify and analyse measurement system...
5  0ded927adb5e68102bdd077cd39619c4  ...  ULO1 - explain the content of, and regulatory ...
6  7d4cc6a41b5aac10653b206b274bcb9a  ...  ULO1 - describe cost behaviour under different...
7  b14cc6a41b5aac10653b206b274bcbbd  ...  ULO1 - examine the role of accounting informat...

[5 rows x 36 columns]

### Get key columns

In [14]:
df_txt = df.loc[:, key_cols]

In [15]:
df_txt.isna().sum()

CL_UNIT_ID                 0
UNIT_CODE                  0
UNIT_TITLE                 0
HANDBOOK_SYNOPSIS         27
UNIT_LEARNING_OUTCOME    378
STUDY_LEVEL                2
OWNING_FACULTY             0
OWNING_ORG_UNIT            0
dtype: int64

In [16]:
df_txt.fillna("", inplace=True)

In [17]:
df_txt.isna().sum()

CL_UNIT_ID               0
UNIT_CODE                0
UNIT_TITLE               0
HANDBOOK_SYNOPSIS        0
UNIT_LEARNING_OUTCOME    0
STUDY_LEVEL              0
OWNING_FACULTY           0
OWNING_ORG_UNIT          0
dtype: int64

> Pretrained models: https://www.sbert.net/docs/pretrained_models.html

In [18]:
# ver 0.1 used:
# 768 dimensions --> 'distilbert-base-nli-stsb-mean-tokens'
model_name = 'all-MiniLM-L6-v2' # 384 dim
model = SentenceTransformer(model_name) # load DistillBERT model (more efficient)

In [19]:
def get_bert_embeddings(text, model):
    """Computes the mean BERT embeddings (context dependent) for a given sentence
    Returns a 768 dimensional embedding
    """
    if text.strip() != "":
        embeddings = model.encode(text)
    else:
        embeddings = np.zeros(model.get_sentence_embedding_dimension())
    return embeddings

In [20]:
df_txt.loc[0, 'HANDBOOK_SYNOPSIS'], df_txt.loc[0, 'UNIT_LEARNING_OUTCOME']

('This unit introduces basic accounting concepts to non-accountants. The information requirements of two main groups of information users are examined - external users such as current and potential investors and internal users such as managers. This unit provides an introduction to the structure, meaning, analysis and interpretation of financial statements, in addition to exploring financial issues confronting managers, such as cost and performance measurement and budgeting.',
 'ULO1 - demonstrate an understanding of various forms of business organisations\nULO2 - apply financial and management accounting principles in the preparation of financial statements\nULO3 - measure and interpret information relating to financial performance, financial position, liquidity and risk indicators of businesses\nULO4 - measure and interpret financial and non-financial information for managers to use in planning, decision making and control\nULO5 - develop the ability to work effectively in a team and/or independently and demonstrate the development of judgement, and skills in problem solving, critical thinking and analysis.')

### Baseline: Unit Synopsis

Few strategies:
- Combine embeddings (mean/sum) for both `HANDBOOK_SYNOPSIS` and `UNIT_LEARNING_OUTCOME`
- Keep them seperate to provide two distinct "modes" for viz that the users can select from
- Show them the top-K similar UNITS in terms of synopsis or outcomes

In [21]:
get_bert_embeddings(df_txt.loc[0, 'HANDBOOK_SYNOPSIS'], model).shape

(384,)

In [22]:
df_txt = df_txt.loc[df_txt.HANDBOOK_SYNOPSIS != "", :]
df_txt.shape

(5297, 8)

In [23]:
df_txt['embeddings'] = df_txt['HANDBOOK_SYNOPSIS'].apply(lambda x: get_bert_embeddings(x, model))

In [24]:
df_embeddings = pd.DataFrame(df_txt["embeddings"].to_list())

In [25]:
df_embeddings

           0         1         2    ...       381       382       383
0     0.049430  0.036486 -0.059333  ...  0.018878 -0.002411 -0.004672
1     0.012721  0.020302 -0.089373  ...  0.083983  0.037209 -0.005507
2     0.041525  0.020710 -0.104727  ... -0.026207  0.040385 -0.012090
3     0.040773 -0.015366 -0.021432  ...  0.016640  0.012791  0.015125
4    -0.024332 -0.015139 -0.110688  ...  0.029433  0.035828  0.033832
...        ...       ...       ...  ...       ...       ...       ...
5292  0.045825  0.002348 -0.022949  ...  0.001907 -0.126006 -0.029926
5293  0.012139 -0.024767 -0.046055  ... -0.009506 -0.098609 -0.009620
5294  0.025295  0.009707 -0.043437  ...  0.005485 -0.058613 -0.025527
5295 -0.028266 -0.061888 -0.009002  ... -0.064255 -0.016460 -0.093074
5296 -0.035952 -0.022319 -0.031190  ... -0.102356  0.013725 -0.083083

[5297 rows x 384 columns]

In [26]:
df_meta = df_txt.loc[:, ['UNIT_TITLE', 'UNIT_CODE', 'HANDBOOK_SYNOPSIS', 'STUDY_LEVEL', 'OWNING_FACULTY', 'OWNING_ORG_UNIT']]

In [27]:
df_meta.head()

                       UNIT_TITLE  ...           OWNING_ORG_UNIT
0          Accounting in business  ...  Department of Accounting
2          Financial accounting 1  ...  Department of Accounting
5          Financial accounting 2  ...  Department of Accounting
6         Management accounting 1  ...  Department of Accounting
7  Accounting information systems  ...  Department of Accounting

[5 rows x 6 columns]

Remove newlines

In [28]:
df_meta['HANDBOOK_SYNOPSIS'] = df_meta.HANDBOOK_SYNOPSIS.apply(lambda x: x.replace("\n", " "))

### Export results

In [ ]:
# df_txt.to_csv("unit_synopsis_embeddings.csv", index=False)

In [29]:
df_embeddings.to_csv(f"{path}/unit_synopsis_embeddings_only_all-MiniLM-L6-v2.tsv", sep="\t", header=False, index=False)

In [30]:
df_meta.to_csv(f"{path}/unit_synopsis_metadata_only_all-MiniLM-L6-v2.tsv", sep="\t", index=False)

### Baseline: Learning Outcome

Filtering/cleaning

In [31]:
import re
pattern = r'ULO[\d]+[\s][\-][\s]?'

In [32]:
def apply_filter(x):
    x = re.sub(pattern, '', x)
    x = x.replace('\n', '. ')
    return x

In [33]:
df_txt['UNIT_LEARNING_OUTCOME_TIDY'] = df_txt['UNIT_LEARNING_OUTCOME'].apply(lambda x: apply_filter(x))

In [34]:
df_txt.UNIT_LEARNING_OUTCOME_TIDY

0       demonstrate an understanding of various forms ...
2       identify and analyse measurement systems and t...
5       explain the content of, and regulatory require...
6       describe cost behaviour under different assump...
7       examine the role of accounting information sys...
                              ...
5843    Demonstrate self-motivation, and able to const...
5844    Justify your conceptual, material and logistic...
5845    Compose a self-directed and coherent work plan...
5846
5847
Name: UNIT_LEARNING_OUTCOME_TIDY, Length: 5297, dtype: object

In [35]:
df_txt = df_txt.loc[df_txt.UNIT_LEARNING_OUTCOME_TIDY != "", :]

In [36]:
df_txt.shape

(4941, 10)

In [37]:
df_txt['embeddings'] = df_txt['UNIT_LEARNING_OUTCOME_TIDY'].apply(lambda x: get_bert_embeddings(x, model))

In [38]:
df_embeddings = pd.DataFrame(df_txt["embeddings"].to_list())

In [39]:
df_embeddings

           0         1         2    ...       381       382       383
0     0.083268  0.073515 -0.084015  ...  0.012212  0.030530 -0.037905
1     0.036672  0.036816 -0.055494  ... -0.000166 -0.021122 -0.076160
2     0.083723  0.049477 -0.044086  ...  0.071591  0.025449 -0.050087
3    -0.004654  0.063362 -0.068568  ... -0.046070 -0.037605  0.025166
4     0.003050  0.077509 -0.065115  ... -0.015119 -0.014245  0.037606
...        ...       ...       ...  ...       ...       ...       ...
4936  0.070479 -0.016183 -0.005395  ...  0.016434 -0.022319 -0.015748
4937  0.004632  0.055278 -0.007318  ...  0.028626 -0.018350 -0.010360
4938  0.008761  0.074300 -0.010118  ...  0.032605  0.015487  0.004117
4939  0.070576  0.020423 -0.038023  ...  0.023160 -0.019333 -0.013517
4940  0.041469  0.069283  0.010373  ...  0.024437 -0.034236 -0.010500

[4941 rows x 384 columns]

In [40]:
df_meta = df_txt.loc[:, ['UNIT_TITLE', 'UNIT_CODE', 'UNIT_LEARNING_OUTCOME', 'STUDY_LEVEL', 'OWNING_FACULTY', 'OWNING_ORG_UNIT']]

In [41]:
df_meta.head()

                       UNIT_TITLE  ...           OWNING_ORG_UNIT
0          Accounting in business  ...  Department of Accounting
2          Financial accounting 1  ...  Department of Accounting
5          Financial accounting 2  ...  Department of Accounting
6         Management accounting 1  ...  Department of Accounting
7  Accounting information systems  ...  Department of Accounting

[5 rows x 6 columns]

Remove newlines (?)

In [42]:
df_meta['UNIT_LEARNING_OUTCOME'] = df_meta.UNIT_LEARNING_OUTCOME.apply(lambda x: x.replace("\n", " "))

### Export results

In [ ]:
# df_txt.to_csv("unit_learning_outcomes_embeddings.csv", index=False)

In [43]:
df_embeddings.to_csv(f"{path}/unit_learning_outcomes_embeddings_only_all-MiniLM-L6-v2.tsv", sep="\t", header=False, index=False)

In [44]:
df_meta.to_csv(f"{path}/unit_learning_outcomes_metadata_only_all-MiniLM-L6-v2.tsv", sep="\t", index=False)

EOF